body {
  background-image: url("https://res.cloudinary.com/dm4wfkipp/image/upload/v1677895474/fondo-datakraken_gqsty6.jpg");
  font-family: "Genos", sans-serif;
}

.card-config {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  min-width: 400px;
  min-height: 150px;
  max-width: 400px;
  max-height: 150px;
  border-radius: 10px;
  color: #fff;
  margin: 10px;
}

.card-config:hover {
  cursor: pointer;
  background-color: #ffffff14;

  color: #fff;
  border-color: 1px solid #fff;
}

.img-avatar {
  width: 50px;
}

.img-logo {
  width: 100px;
}

.text-ago {
  font-size: 13px;
}

.fondo-transparente {
  background-color: transparent;
}

.input-search {
  font-family: "Montserrat", sans-serif;
}

.button-new {
  font-family: "Montserrat", sans-serif;
}

.nav-tabs-config {
  font-family: "Montserrat", sans-serif;
}

.bg-container-cards {
  border: 1px solid #ffffff40;
  border-radius: 6px;
  background-color: firebrick;
  filter: blur(15);
  background-color: rgba(243, 243, 243, 0.111);
}
