.body {
  background-image: url("https://res.cloudinary.com/dm4wfkipp/image/upload/v1677895474/fondo-datakraken_gqsty6.jpg");
  font-family: "Delicious Handrawn", sans-serif;
}

body {
  background-color: #000;
  font-family: "Montserrat", sans-serif;
}

.capitanBeto {
  font-family: "Delicious Handrawn", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.card-config {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  min-width: 400px;
  min-height: 150px;
  max-width: 400px;
  max-height: 150px;
  border-radius: 10px;
  color: #fff;
  margin: 10px;
}

.card-config:hover {
  cursor: pointer;
  background-color: #ffffff14;

  color: #fff;
  border-color: 1px solid #fff;
}

.img-avatar {
  width: 50px;
}

.img-logo {
  width: 70px;
}

.text-ago {
  font-size: 13px;
}

.fondo-transparente {
  background-color: transparent;
}

.input-search {
  font-family: "Montserrat", sans-serif;
}

.button-new {
  font-family: "Montserrat", sans-serif;
}

.nav-tabs-config {
  font-family: "Montserrat", sans-serif;
}

.bg-container-cards {
  border: 1px solid #ffffff40;
  border-radius: 6px;
  background-color: firebrick;
  filter: blur(15);
  background-color: rgba(243, 243, 243, 0.022);
}

.timon {
  width: 50px;
}

.titulo {
  font-family: "Montserrat", sans-serif;
}

#lista {
  display: none;
}

#form-noticias,
#form-leyendas,
#form-historias,
#form-esteros-del-ibera {
  display: none;
}

.boton-cancelar {
  width: 20px;
  display: inline-block;
}

.config-logo-vite {
  width: 60px;
}

.config-logo-cloudinary {
  width: 200px;
}

.config-logo-vercel {
  width: 200px;
}

.config-logo-aguara {
  width: 150px;
}

.config-navStatus {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.wbadge {
  width: 50px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.iconDelete, .iconSetting {
  color: #fff;
}

.iconDelete:hover {
  color: #e23749;
}

.iconSetting:hover {
  color: #0ed7f4;
}
